<div class="weather-data-container">
  <div *ngIf="currentWeather" class="current-weather">
    <div class="curredt-data" style="margin: 1rem">
      <div style="font-size: 1.5rem">
        Current weather on location {{ currentWeather.location.name }}
      </div>
      <div>On date: {{ currentWeather.current.last_updated }}</div>
      <div style="font-size: 3rem; font-weight: bold">
        {{ currentWeather.current.temp_c }} °C
      </div>
      <div>
        Wind: {{ currentWeather.current.wind_kph }} km/h
        {{ currentWeather.current.wind_dir }}
      </div>
      <div>{{ currentWeather.current.condition.text }}</div>
      <div>{{ currentWeather.current.pressure_mb }} pressure in millibars</div>
      <div>{{ currentWeather.current.uv }} uv index</div>
    </div>

    <div class="current-icon" style="margin: 1rem">
      <img src="{{ currentWeather.current.condition.icon }}" />
    </div>
  </div>

  <div class="sunrise">
    <div style="font-size: 1.5rem; margin: 1rem">Sunrise & sunset</div>
    <div class="row" style="display: flex">
      <div class="col-md-6 astrocol">
        {{ astronomy.astronomy.astro.sunrise }}<br />
        <img src="assets/images/sunrise.png" class="astroicon asm" />
      </div>
      <div class="col-md-6 astrocol">
        {{ astronomy.astronomy.astro.sunset }}<br />
        <img src="assets/images/sunset.png" class="astroicon asm" />
      </div>
    </div>
    <hr />
    <div class="row" style="display: flex">
      <div class="col-md-6 astrocol">
        {{ astronomy.astronomy.astro.moonrise }}<br />
        <img src="assets/images/moonrise.png" class="astroicon" />
      </div>
      <div class="col-md-6 astrocol">
        {{ astronomy.astronomy.astro.moonset }}<br />
        <img src="assets/images/moonset.png" class="astroicon" />
      </div>
      <div class="col-md-12">
        <b>Moon phase:</b>{{ astronomy.astronomy.astro.moon_phase }}<br />
        <b>Moon illumination:</b
        >{{ astronomy.astronomy.astro.moon_illumination }}
      </div>
    </div>
    <!-- <div> Real feel: {{currentWeather.current.condition.text}}</div> -->
  </div>

  <div *ngIf="airQualityAndWeather" class="air-quality">
    <div class="grid-container">
      <div style="margin: 1rem">
        <p class="air-title">
          Air Quality {{ airQualityAndWeather.location.name }}:
        </p>
        <ul class="air-text">
          co:
          {{
            airQualityAndWeather.current.air_quality.co
              .toString()
              .substring(0, 7)
          }}
          <br />
          no2:
          {{
            airQualityAndWeather.current.air_quality.no2
              .toString()
              .substring(0, 7)
          }}
          <br />
          o3:
          {{
            airQualityAndWeather.current.air_quality.o3
              .toString()
              .substring(0, 7)
          }}
          <br />
          so2:
          {{
            airQualityAndWeather.current.air_quality.so2
              .toString()
              .substring(0, 7)
          }}
          <br />
          pm2_5:
          {{
            airQualityAndWeather.current.air_quality.pm2_5
              .toString()
              .substring(0, 7)
          }}
          <br />
          pm10:
          {{
            airQualityAndWeather.current.air_quality.pm10
              .toString()
              .substring(0, 7)
          }}
        </ul>
        <button
          type="button"
          class="btn btn-outline-info"
          (click)="openServicesList()"
        >
          <a class="btn-text" routerLink="/air">
            Show Details

            <img class="icon-s" src="/assets/images/airqv.svg" alt=""
          /></a>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="accessories && accessories.length > 0">
    <p class="">Accessories</p>
    <!--Ovdje ubacite for petlju i ispisite ikonice te implementirajte tooltipove za preporucenu opremu-->
  </div>
</div>
