.back-col{
    margin: 2rem;
  }
  
.weather-header{
    width: 100%;
    height:10rem;
    text-align: center;
    background-image: url("/assets/images/pinkCloud.jpg");
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: 0.3rem;
  }
  
.app-title{
    background: -webkit-linear-gradient(#0f2027, #203a43,#2C5364);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }
  
.navbar{
  background: -webkit-linear-gradient(#c4bcc5, #ddcae0,#e6dde7);
  margin-bottom: 3rem;
  border-radius: 25px;
}

.navbar-nav{
  margin: 0 auto;
}

.back-col{
  margin: 0;
  padding: 1rem;
  min-height: 100%;
}
.weather-header{
  border-radius: 15px;
}

.back-col {
  max-width: 1280px;
  margin: 0 auto;
}

.mynav{
  position: fixed;
  z-index:50;
  left:-215px;
  top: 50%;
  transform: translateY(-50%);
}
.mynav-item{
  background-color: white;
  border-radius: 25px;
  color: black !important;
  padding: 10px;
  padding-left:40px;
  padding-right: 20px;
  margin-bottom: 10px;
  text-align: right;
  position: relative;
  left:0;
  transition: 0.3s all;
  display: block;
}
.mynav-item i{
  padding-left: 20px;
}
.mynav-item:hover{
  left:180px;
  transition: 0.3s all;
}