

<div class="mynav">
  <a class="mynav-item" routerLink="/">Current weather <i class="fas fa-sun"></i></a>
  <a class="mynav-item" routerLink="/daily-forecast">Daily forecast <i class="fas fa-thermometer-three-quarters"></i></a>
  <a class="mynav-item" routerLink="/alerts">Severe weather alerts <i class="fas fa-exclamation-circle"></i></a>
  <a class="mynav-item" routerLink="/report">Report severe weather <i class="fas fa-flag"></i></a>
</div>
<div class="back-col">
    <div class="weather-header">
      <p class="app-title">BetterWeather</p>
    </div>
    
      
    <router-outlet></router-outlet>
</div>

